<!DOCTYPE html>
<html>
<head>
	<title>Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class="jumbotron">
		<h1 class="text-center">My Awesome Team!!!</h1>
	</div>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
				
				<div class="fiveDay justify-content-center">
					<div class="row">
						<div class="col-md-12">
					<h1 class="text-center">This is my team!!!</h1>
					</div>
				</div>
				<!-- <div class="col-md-12"> -->
					<div class="row">
						<!-- </div> -->
						<div class="offset-md-1 col-sm-2 mr-2">
							<div id="emp1">Joe</div>
						</div>
						<div class="col-sm-2 mr-2">
							<div id="emp2">Fred</div>
						</div>
						<div class="col-sm-2 mr-2">
							<div id="emp3">Tom</div>
						</div>
						<div class="col-sm-2 mr-2">
							<div id="emp4">Mary</div>
						</div>
						<div class="col-sm-2 ml-2">
							<div id="emp5">Jane</div>
						</div>
					<!-- </div> -->
				</div>
		</div>
	</div>
</body>
</html>
var html = `<html><head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script></head>
	<body><div class="jumbotron">
	<h1 class="text-center">` + "My Awesome Team!!!" + `</h1>
</div><div class="card">
	<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
	<div class="card-body">
	  <h4 class="card-title">${answer.name}</h4>
	  <p class="card-text">
	  This employee is our ${answer.title}, whose Id is ${answer.id}.</n>
	  You can contact this person at ${answer.email}. 
	  </p>
	  
	</div>
  </div></body></html>`;